body {
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
}

button {
    padding: .25em;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

select {
    background-color: var(--background-dark);
    border: 1px solid var(--foreground-dark);
    color: var(--foreground);
    padding: .25rem;
    border-radius: .5em;
}